.bottom10 {
    margin-bottom: 10px;
}
.label {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.number-width {
    width: 75px;
}
.section {
    width: 500px;
}
.top10 {
    margin-top: 10px;
}
